@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 33% 98%;
    --foreground: 256 25% 12%;

    --card: 285 33% 98%;
    --card-foreground: 256 25% 12%;

    --popover: 285 33% 98%;
    --popover-foreground: 256 25% 12%;

    --primary: 280 42% 20%;
    --primary-foreground: 291 30% 96%;

    --secondary: 41 58% 63%;
    --secondary-foreground: 256 25% 12%;

    --accent: 326 50% 81%;
    --accent-foreground: 256 25% 12%;

    --muted: 280 27% 94%;
    --muted-foreground: 259 10% 44%;

    --destructive: 354 63% 53%;
    --destructive-foreground: 291 30% 96%;

    --border: 282 24% 89%;
    --input: 282 24% 89%;
    --ring: 272 49% 34%;

    --radius: 0.9rem;

    --chart-1: 272 49% 34%;
    --chart-2: 41 58% 63%;
    --chart-3: 326 50% 81%;
    --chart-4: 280 42% 20%;
    --chart-5: 264 24% 58%;
  }

  .dark {
    --background: 250 23% 5%;
    --foreground: 291 30% 96%;

    --card: 258 32% 10%;
    --card-foreground: 291 30% 96%;

    --popover: 258 32% 10%;
    --popover-foreground: 291 30% 96%;

    --primary: 272 49% 34%;
    --primary-foreground: 291 30% 96%;

    --secondary: 41 58% 63%;
    --secondary-foreground: 256 25% 12%;

    --accent: 326 50% 81%;
    --accent-foreground: 256 25% 12%;

    --muted: 258 32% 10%;
    --muted-foreground: 272 14% 72%;

    --destructive: 354 63% 53%;
    --destructive-foreground: 291 30% 96%;

    --border: 262 24% 18%;
    --input: 262 24% 18%;
    --ring: 326 50% 81%;

    --chart-1: 326 50% 81%;
    --chart-2: 41 58% 63%;
    --chart-3: 272 49% 34%;
    --chart-4: 264 24% 58%;
    --chart-5: 280 42% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
